<button mat-button class="back-button" routerLink="/home" *ngIf="currentBookData"><i class="material-icons">arrow_back_ios</i></button>
<div class="details-container" *ngIf="currentBookData">
	<div class="details-title">
		{{currentBookData.Title}}
	</div>
	<div class="details-id">
		{{currentBookData.ID}}
	</div>

	<div class="divider"></div>

	<div class="details-desc">
		<span> Description : </span>
		<p>{{currentBookData.Description}}</p>
	</div>
	<div class="details-exc">
		<span> Excerpt : </span>
		<p>{{currentBookData.Excerpt}}</p>
	</div>
	<div class="details-nop">
		<span> Number of Pages : </span>
		{{currentBookData.PageCount}}
	</div>
	<div class="details-pub">
		<span> Publishied on : </span>
		{{translateDate(currentBookData.PublishDate)}}
	</div>

	<div class="divider"></div>

	<div class="sub-section">Authors : </div>

	<div class="book-authors" *ngFor="let author of currentBookAuthors">
		<div class="author-id">
			<span> Author ID : </span>
			{{author.ID}}
		</div>
		<div class="author-fs">
			<span> Author Name :</span>
			{{author.FirstName}} {{author.LastName}}
		</div>
	</div>
</div>
<div class="error-info" *ngIf="!currentBookData">
	<button mat-button class="back-button-error" routerLink="/home"><i class="material-icons">arrow_back_ios</i></button>
	<span class="info">Data doesn't exist. pleas reload the page !</span>
</div>