.back-button {
    position: absolute;
    top: 35px;
}

.back-button-error {
    position: absolute;
}

.details-container {
    padding: 30px 30px;
    span {
        font-weight: bold;
        font-size: 18px;
        display: block;
    }
    p {
        font-weight: lighter;
    }
    .details-title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .details-id {
        font-size: 12px;
        margin-bottom: 10px;
        color: #a3a1a1;
        text-align: center;
    }
    .details-desc{
        span {
            text-align: center;
        }
        text-align: left;
    }
    .details-exc {
        span {
            text-align: center;
        }
        text-align: left;
    }
    .details-nop {
        span {
            display: inline-block;
        }
    }
    .details-pub {
        span {
            display: inline-block;
        }
    }

    .divider {
        display: block;
        border: .5px solid #a3a1a1;
        width: 95%;
        margin: 18px auto;
    }

    .sub-section {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .book-authors {
        text-align: center;
        margin: 15px 0; 
        .author-id {
            span {
                display: inline-block;
            }
        }
        .author-fs {
            span {
                display: inline-block;
            }
        }
    }
}

.error-info {
    width: 90%;
    margin: 0 auto;
    background-color: #a51b1b;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #b57373;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    .info {
        display: block;
        margin: 0 auto;
    }
}