<mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">
	<mat-grid-tile [colspan]="1" *ngFor="let book of booksList | slice: lValue : hValue">
		<mat-card class="book-card">
			<div class="card-header">
				<div class="header-title">{{book.Title}}</div>
				<div class="header-subtitle">Dog Breed</div>
			</div>
			<mat-card-content>
				<p>
					<span>ID : </span>{{book.ID}}
				</p>
			</mat-card-content>
			<mat-card-content>
				<p>
					<span>Page Count : </span>{{book.PageCount}}
				</p>
			</mat-card-content>
			<mat-card-content>
				<p>
					<span>Published : </span>{{translateDate(book.PublishDate)}}
				</p>
			</mat-card-content>
			<div class="card-actions">
				<button mat-button class="button" routerLink="/book/{{book.ID}}" (click)="setBook(book.ID)">BOOK DETAIL</button>
			</div>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>

<mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = getPaginatorData($event)"></mat-paginator>