mat-card {
    &.book-card {
        -webkit-box-shadow: 4px 4px 11px 0px rgba(171,171,171,0.41);
        -moz-box-shadow: 4px 4px 11px 0px rgba(171,171,171,0.41);
        box-shadow: 4px 4px 11px 0px rgba(171,171,171,0.41);
        width: 75%;
        height: 75%;
        position: relative;
        .card-header {
            margin-bottom: 15px;
            .header-title {
                font-size: 20px;
                font-weight: bold;
            }
            .header-subtitle {
                font-size: 11px;
                color: #a3a1a1;
            }
        }
        p {
            font-weight: lighter;
            span {
                font-weight: bold;
            }
        }

        .card-actions {
            position: absolute;
            bottom: 10px;
            right: 10px;
            .button {
                font-size: 13px;
                font-weight: normal;
                border: solid 1px rgba(171,171,171,0.41);
                border-radius: 3px;
            }
        }
    }
}